# Node / PHP dependencies
/vendor/
/node_modules/

# Vite build assets
/public/build/

# Laravel cached files
/storage/app/public
/storage/debugbar
/storage/framework
/storage/framework/cache/*
/storage/framework/views/*
/storage/logs
/bootstrap/cache/*.php

# Environment and config files
.env
.env.example
Dockerfile
docker-compose.yml
.editorconfig
.styleci.yml

# Git & CI/CD
.git
.github

# OS and editor junk
.DS_Store
Thumbs.db
*.log
*.sublime*
*.swp

# Miscellaneous
README.md
.gitattributes
.gitignore

railway.json